<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.18.2/cytoscape.min.js"></script>
  <title>VERIT</title>
</head>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size:20px;
    }
    
    th, td {
        padding: 20px;
    }
    
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    .carousel .carousel-indicators li {background-color: black; height:8px;width:50px;}
    .carousel .carousel-indicators li.active {background-color: white;height:8px;width:50px;}
    
    .carousel-caption p{
        color:white;
    }
    .carousel-caption {
        position: relative;
        left: 0;
        top: 0;
        height:80px;
        background:#4CAF50;
    }
</style>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('home')}}">VERIT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('select_query')}}">Query</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="#">README</a>
          </li>
        </ul>
      </div>
    </nav>

   <div style="position:absolute;top:100px;left:300px" class="container">
        <h1>VERIT: Visualizing Entities and Relationships in Text</h1>
        <h5 style="color:#4CAF50">This app allows you to query and generate network visualizations from a database containing biomedical interactions extracted from research papers using Natural Language Processing (NLP).</h5>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="{{url_for('static', filename='step_1.png')}}" style="width:100%; height: 700px;" alt="First slide">
              <div class="carousel-caption d-none d-md-block mb-4">
                <p>Step 1: Select query algorithm</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{{url_for('static', filename='step_2.png')}}" style="width:100%; height: 700px;" alt="Second slide">
              <div class="carousel-caption d-none d-md-block mb-4">
                <p>Step 2: Input query</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{{url_for('static', filename='step_3.png')}}" style="width:100%; height: 700px;" alt="Third slide">
             <div class="carousel-caption d-none d-md-block mb-4">
                <p>Step 3: Validate query</p>
              </div>
            </div>
              <div class="carousel-item">
              <img class="d-block w-100" src="{{url_for('static', filename='step_4.png')}}" style="width:100%; height: 700px;" alt="First slide">
              <div class="carousel-caption d-none d-md-block mb-4">
                <p>Step 4: Input additional parameters</p>
              </div>
            </div> 
              <div class="carousel-item">
              <img class="d-block w-100" src="{{url_for('static', filename='covid_single.png')}}" style="width:100%; height: 700px;" alt="First slide">
              <div class="carousel-caption d-none d-md-block mb-4">
                <p>Result: Network visualization</p>
              </div>
            </div>  
          </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>