<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      
      <!-- Cytoscape.js -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.18.2/cytoscape.min.js"></script>

      <title>VERIT</title>
  </head>
    
 <style>
    #cy {
        width: 70%;
        height: 70%;
        position: absolute;
        left:-190px;

    }
          #cy2 {
        width: 90%;
        height: 100%;
        position: absolute;

    }
     
     #progressbar {
         
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}
  
    #progressbar .active {
        color: #4CAF50
    }

    #progressbar li {
        list-style-type: none;
        font-size: 15px;
        width: 25%;
        float: left;
        position: relative;
        font-weight: 400;
    }

    #progressbar #step1:before {
        content: "1";
        padding-left: 20px;

    }

    #progressbar #step2:before {
        content: "2";
        padding-left: 20px;
    }

    #progressbar #step3:before {
        content: "3";
        padding-left: 20px;
    }

    #progressbar #step4:before {
        content: "4";
        padding-left: 20px;
    }

    #progressbar li:before {
        width: 50px;
        height: 50px;
        line-height: 45px;
        display: block;
        font-size: 20px;
        color: #ffffff;
        background: lightgray;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        padding: 2px
    }

    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: lightgray;
        position: absolute;
        left: 0;
        top: 25px;
        z-index: -1
    }

    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #4CAF50
    }

    .progress {
        height: 20px
    }

    .progress-bar {
        background-color: #2F8D46;

    }

         a {
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px;
    }

    a:hover {
      background-color: #ddd;
      color: black;
    }

    .previous {
      background-color: #f1f1f1;
      color: black;
    }

    .next {
      background-color: #4CAF50;
      color: white;
    }

    .round {
      border-radius: 50%;
    }
</style>
    
    
  <body>
    
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('home')}}">VERIT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('select_query')}}">Query</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="#">README</a>
          </li>
        </ul>
      </div>
    </nav>
  
    <div  style="position:absolute;top:100px;left:300px" class="container">


    <ul id="progressbar">
                                <li class="active" id="step1">
                                    <strong>Select query algorithm</strong>
                                </li>
                                <li id="step2"><strong>Input query</strong></li>
                                <li id="step3"><strong>Validate query</strong></li>
                                <li id="step4"><strong>Input additional parameters</strong></li>
                            </ul>



    <div id="single" style="padding-bottom:50px;padding-top:20px;height:100%;position:relative">
                <form method="POST" action="#" style="height:100%;width:100%">
                    <h3>Single Query</h3>
                    <p>Takes one ID or entity name as input. Finds all the entities that the input directly targets. This means that there is a relationship between the input and the entity such that the input affects the entity. If desired, this algorithm can go to additional depths by finding the entities directly affected by the entities that are directly affected by the input. There is the option to drop relationships that do not show up in many papers. For every relationship that is found, the algorithm checks if there is a relationship going in the opposite direction. If there is, the algorithm outputs the reverse relationship no matter how many papers support it. </p>
                    <h4>Takes the following inputs:</h4>
                                <ol>
                  <li>One ID or entity name</li>
                  <li>Depth (integer between 1 and 4, inclusive): Specifies the number of “layers” to go out from the query. For example, depth of 1 means that the algorithm will find the entities that the query directly targets. Depth of 2 means that the algorithm will find the entities that the query directly targets, and the entities that the first “layer” directly targets.</li>
                  <li>Minimum literary presence for the first layer (non-negative integer): The query algorithm can drop links between entities that are not supported by enough papers. This number specifies the minimum number of papers that a link must have in order to not be dropped. </li>
                                    <li>Minimum literary presence for subsequent layers (non-negative integer): Same as minimum literary presence for the first layer. For queries of depth greater than 2, it is recommended that this number be around 100-200 because the number of entities and relationships increases greatly with each depth. With a lot of entities, the visualization becomes very large, and it is difficult to gain information from looking at it. If the visualization is too large, it is recommended to increase this number.</li>
                </ol>
                    <h3><input type="submit" name="query_type" value="Make a single query" style="background-color:#4CAF50;color:white;height:90px;width:300px;font-size:x-large;cursor:pointer"/></h3>
                    <h4>Single Query Example - Senescence (MeSH ID: D000375)</h4>
                    <h5>Zoom in by scrolling, mouseover nodes to see immediate outgoing connections</h5>
                    <div style="height:100%;width:100%">
                        <div id="cy"></div>
                    </div>
                        <script>
            var cy = cytoscape({
                    container: document.getElementById('cy'),
                wheelSensitivity: 0.4,
                    elements: [{'data': {'id': 'uniprot:O14896',
       'label': 'LPS',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'CHEBI:26523',
       'label': 'ROS',
       'color': '#f1c9f2',
       'rank': 600}},
     {'data': {'id': 'uniprot:P04637',
       'label': 'p53',
       'color': '#f1c9f2',
       'rank': 600}},
     {'data': {'id': 'mesh:D007239',
       'label': 'infection',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'CHEBI:17234',
       'label': 'glucose',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'pfam:PF02985',
       'label': 'heat',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'GO:0006915',
       'label': 'apoptosis',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:P31944',
       'label': 'mice',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'CHEBI:27899',
       'label': 'cisplatin',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'GO:0006914',
       'label': 'autophagy',
       'color': '#f1c9f2',
       'rank': 600}},
     {'data': {'id': 'mesh:D059865',
       'label': 'ER stress',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'mesh:D009369',
       'label': 'tumor',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'mesh:D004249',
       'label': 'DNA damage',
       'color': '#f1c9f2',
       'rank': 600}},
     {'data': {'id': 'mesh:D013217',
       'label': 'starvation',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'mesh:D000860',
       'label': 'hypoxia',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'pubchem:5284616',
       'label': 'rapamycin',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:P42345',
       'label': 'mTOR',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'fplx:AMPK',
       'label': 'AMPK',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'CHEBI:6801',
       'label': 'metformin',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:P51811',
       'label': 'NAC',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:P10415',
       'label': 'Bcl-2',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'GO:0006954',
       'label': 'inflammation',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'fplx:NADPH_oxidase',
       'label': 'NADPH oxidase',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'GO:0007165',
       'label': 'signaling pathway',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:P51606',
       'label': 'age',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'pubchem:24822',
       'label': 'NO',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:P38936',
       'label': 'p21',
       'color': '#f1c9f2',
       'rank': 600}},
     {'data': {'id': 'fplx:mTORC1',
       'label': 'mTORC1',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'pubchem:23925',
       'label': 'iron',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'CHEBI:3638',
       'label': 'chloroquine',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'mesh:D015427',
       'label': 'I/R',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'mesh:D007511',
       'label': 'ischemia',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:Q00987',
       'label': 'MDM2',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:Q9Y5S8',
       'label': 'NOX',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:P06213',
       'label': 'IR',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'CHEBI:3962',
       'label': 'curcumin',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'fplx:PI3K',
       'label': 'PI3K',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'pubchem:271',
       'label': 'Ca',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'pubchem:22833512',
       'label': 'NADPH',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'CHEBI:5801',
       'label': 'hydroxychloroquine',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:P0C0P6',
       'label': 'NPs',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'pubchem:784',
       'label': 'hydrogen peroxide',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'pubchem:5957',
       'label': 'ATP',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'CHEBI:27881',
       'label': 'resveratrol',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'pubchem:26623',
       'label': 'HG',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'mesh:D006943',
       'label': 'hyperglycemia',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'fplx:AKT', 'label': 'Akt', 'color': '#c9ddf2', 'rank': 400}},
     {'data': {'id': 'uniprot:Q16236',
       'label': 'Nrf2',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'pubchem:5234',
       'label': 'salt',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'PR:000036009',
       'label': 'Ang II',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'pubchem:977',
       'label': 'oxygen',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'fplx:SOD', 'label': 'SOD', 'color': '#c9ddf2', 'rank': 400}},
     {'data': {'id': 'pfam:PF00518',
       'label': 'E6',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'fplx:ERK', 'label': 'ERK', 'color': '#c9ddf2', 'rank': 400}},
     {'data': {'id': 'pubchem:124886',
       'label': 'GSH',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:P09874',
       'label': 'PARP',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:P10599',
       'label': 'SASP',
       'color': '#f1c9f2',
       'rank': 600}},
     {'data': {'id': 'uniprot:Q96EB6',
       'label': 'SIRT1',
       'color': '#f1c9f2',
       'rank': 600}},
     {'data': {'id': 'uniprot:O75385',
       'label': 'ULK1',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:P04839',
       'label': 'NOX2',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:Q9NPH5',
       'label': 'NOX4',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:Q14457',
       'label': 'Beclin-1',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:P19484',
       'label': 'TFEB',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:P32780',
       'label': 'p62',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'pfam:PF00800',
       'label': 'PDT',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:P16410',
       'label': 'Cd',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'pubchem:5359597',
       'label': 'superoxide',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'CHEBI:22586',
       'label': 'antioxidant',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'fplx:MAP1LC3',
       'label': 'LC3',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'GO:0006281',
       'label': 'DNA repair',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'pubchem:27099',
       'label': 'Cu',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'CHEBI:16796',
       'label': 'melatonin',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'CHEBI:16856',
       'label': 'glutathione',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:Q9H1Y0',
       'label': 'ATG5',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:Q13315',
       'label': 'ATM',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'CHEBI:88230',
       'label': 'autophagy inhibitor',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'uniprot:P04040',
       'label': 'catalase',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'mesh:D000375',
       'label': 'senescence',
       'color': '#fc0800',
       'rank': 1000}},
     {'data': {'id': 'uniprot:O95352',
       'label': 'ATG7',
       'color': '#c9ddf2',
       'rank': 400}},
     {'data': {'id': 'mesh:D000375mesh:D004249',
       'source': 'mesh:D000375',
       'target': 'mesh:D004249',
       'weight': 77.78174593052023,
       'color': '#fc4b05'}},
     {'data': {'id': 'mesh:D000375uniprot:P04637',
       'source': 'mesh:D000375',
       'target': 'uniprot:P04637',
       'weight': 85.44003745317531,
       'color': '#fc4b05'}},
     {'data': {'id': 'mesh:D000375CHEBI:26523',
       'source': 'mesh:D000375',
       'target': 'CHEBI:26523',
       'weight': 72.4568837309472,
       'color': '#fc4b05'}},
     {'data': {'id': 'mesh:D000375uniprot:P10599',
       'source': 'mesh:D000375',
       'target': 'uniprot:P10599',
       'weight': 58.73670062235365,
       'color': '#fc4b05'}},
     {'data': {'id': 'mesh:D000375uniprot:P38936',
       'source': 'mesh:D000375',
       'target': 'uniprot:P38936',
       'weight': 55.226805085936306,
       'color': '#fc4b05'}},
     {'data': {'id': 'mesh:D000375GO:0006914',
       'source': 'mesh:D000375',
       'target': 'GO:0006914',
       'weight': 64.03124237432849,
       'color': '#fca605'}},
     {'data': {'id': 'mesh:D000375uniprot:Q96EB6',
       'source': 'mesh:D000375',
       'target': 'uniprot:Q96EB6',
       'weight': 54.772255750516614,
       'color': '#05fcf8'}},
     {'data': {'id': 'mesh:D004249CHEBI:26523',
       'source': 'mesh:D004249',
       'target': 'CHEBI:26523',
       'weight': 173.20508075688775,
       'color': '#fc0505'}},
     {'data': {'id': 'mesh:D004249uniprot:P06213',
       'source': 'mesh:D004249',
       'target': 'uniprot:P06213',
       'weight': 79.37253933193772,
       'color': '#fc0505'}},
     {'data': {'id': 'mesh:D004249CHEBI:27899',
       'source': 'mesh:D004249',
       'target': 'CHEBI:27899',
       'weight': 80.62257748298549,
       'color': '#fc4b05'}},
     {'data': {'id': 'mesh:D004249uniprot:P04637',
       'source': 'mesh:D004249',
       'target': 'uniprot:P04637',
       'weight': 67.45368781616021,
       'color': '#fc4b05'}},
     {'data': {'id': 'mesh:D004249GO:0006954',
       'source': 'mesh:D004249',
       'target': 'GO:0006954',
       'weight': 59.58187643906492,
       'color': '#fc0505'}},
     {'data': {'id': 'mesh:D004249GO:0006281',
       'source': 'mesh:D004249',
       'target': 'GO:0006281',
       'weight': 53.38539126015655,
       'color': '#fca605'}},
     {'data': {'id': 'mesh:D004249uniprot:Q13315',
       'source': 'mesh:D004249',
       'target': 'uniprot:Q13315',
       'weight': 50.0,
       'color': '#fc8105'}},
     {'data': {'id': 'mesh:D004249uniprot:P09874',
       'source': 'mesh:D004249',
       'target': 'uniprot:P09874',
       'weight': 57.0087712549569,
       'color': '#fca605'}},
     {'data': {'id': 'uniprot:P04637uniprot:Q00987',
       'source': 'uniprot:P04637',
       'target': 'uniprot:Q00987',
       'weight': 112.69427669584644,
       'color': '#05bafc'}},
     {'data': {'id': 'uniprot:P04637pfam:PF00518',
       'source': 'uniprot:P04637',
       'target': 'pfam:PF00518',
       'weight': 75.4983443527075,
       'color': '#05bafc'}},
     {'data': {'id': 'uniprot:P04637CHEBI:26523',
       'source': 'uniprot:P04637',
       'target': 'CHEBI:26523',
       'weight': 51.96152422706632,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523CHEBI:26523',
       'source': 'CHEBI:26523',
       'target': 'CHEBI:26523',
       'weight': 168.37458240482735,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523uniprot:P51811',
       'source': 'CHEBI:26523',
       'target': 'uniprot:P51811',
       'weight': 111.13055385446435,
       'color': '#0589fc'}},
     {'data': {'id': 'CHEBI:26523fplx:NADPH_oxidase',
       'source': 'CHEBI:26523',
       'target': 'fplx:NADPH_oxidase',
       'weight': 107.23805294763608,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523uniprot:O14896',
       'source': 'CHEBI:26523',
       'target': 'uniprot:O14896',
       'weight': 105.1189802081432,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523pubchem:23925',
       'source': 'CHEBI:26523',
       'target': 'pubchem:23925',
       'weight': 101.4889156509222,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523uniprot:Q9Y5S8',
       'source': 'CHEBI:26523',
       'target': 'uniprot:Q9Y5S8',
       'weight': 94.33981132056603,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523pubchem:22833512',
       'source': 'CHEBI:26523',
       'target': 'pubchem:22833512',
       'weight': 83.66600265340756,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523uniprot:P0C0P6',
       'source': 'CHEBI:26523',
       'target': 'uniprot:P0C0P6',
       'weight': 80.93207028119323,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523mesh:D000860',
       'source': 'CHEBI:26523',
       'target': 'mesh:D000860',
       'weight': 95.13148795220224,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523CHEBI:17234',
       'source': 'CHEBI:26523',
       'target': 'CHEBI:17234',
       'weight': 81.85352771872451,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523mesh:D007239',
       'source': 'CHEBI:26523',
       'target': 'mesh:D007239',
       'weight': 79.68688725254614,
       'color': '#fc0505'}},
     {'data': {'id': 'CHEBI:26523pubchem:271',
       'source': 'CHEBI:26523',
       'target': 'pubchem:271',
       'weight': 76.48529270389177,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523pubchem:977',
       'source': 'CHEBI:26523',
       'target': 'pubchem:977',
       'weight': 89.72179222463181,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523mesh:D006943',
       'source': 'CHEBI:26523',
       'target': 'mesh:D006943',
       'weight': 86.31338250816034,
       'color': '#fc0505'}},
     {'data': {'id': 'CHEBI:26523pubchem:124886',
       'source': 'CHEBI:26523',
       'target': 'pubchem:124886',
       'weight': 75.4983443527075,
       'color': '#05fcf8'}},
     {'data': {'id': 'CHEBI:26523fplx:SOD',
       'source': 'CHEBI:26523',
       'target': 'fplx:SOD',
       'weight': 72.11102550927978,
       'color': '#05fcf8'}},
     {'data': {'id': 'CHEBI:26523CHEBI:27899',
       'source': 'CHEBI:26523',
       'target': 'CHEBI:27899',
       'weight': 66.33249580710799,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523uniprot:P04839',
       'source': 'CHEBI:26523',
       'target': 'uniprot:P04839',
       'weight': 60.0,
       'color': '#fc0505'}},
     {'data': {'id': 'CHEBI:26523uniprot:Q9NPH5',
       'source': 'CHEBI:26523',
       'target': 'uniprot:Q9NPH5',
       'weight': 63.24555320336759,
       'color': '#fc0505'}},
     {'data': {'id': 'CHEBI:26523uniprot:Q16236',
       'source': 'CHEBI:26523',
       'target': 'uniprot:Q16236',
       'weight': 78.10249675906654,
       'color': '#fcec05'}},
     {'data': {'id': 'CHEBI:26523pubchem:784',
       'source': 'CHEBI:26523',
       'target': 'pubchem:784',
       'weight': 58.309518948453004,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523pubchem:26623',
       'source': 'CHEBI:26523',
       'target': 'pubchem:26623',
       'weight': 56.568542494923804,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523PR:000036009',
       'source': 'CHEBI:26523',
       'target': 'PR:000036009',
       'weight': 76.15773105863909,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523uniprot:P16410',
       'source': 'CHEBI:26523',
       'target': 'uniprot:P16410',
       'weight': 60.41522986797286,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523pubchem:5359597',
       'source': 'CHEBI:26523',
       'target': 'pubchem:5359597',
       'weight': 68.19090848492928,
       'color': '#fca605'}},
     {'data': {'id': 'CHEBI:26523CHEBI:22586',
       'source': 'CHEBI:26523',
       'target': 'CHEBI:22586',
       'weight': 60.82762530298219,
       'color': '#05bafc'}},
     {'data': {'id': 'CHEBI:26523uniprot:P06213',
       'source': 'CHEBI:26523',
       'target': 'uniprot:P06213',
       'weight': 50.99019513592785,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523pfam:PF00800',
       'source': 'CHEBI:26523',
       'target': 'pfam:PF00800',
       'weight': 53.85164807134504,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523pubchem:27099',
       'source': 'CHEBI:26523',
       'target': 'pubchem:27099',
       'weight': 50.0,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523CHEBI:16856',
       'source': 'CHEBI:26523',
       'target': 'CHEBI:16856',
       'weight': 57.445626465380286,
       'color': '#05fcf8'}},
     {'data': {'id': 'CHEBI:26523pubchem:5234',
       'source': 'CHEBI:26523',
       'target': 'pubchem:5234',
       'weight': 61.64414002968976,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523pubchem:5957',
       'source': 'CHEBI:26523',
       'target': 'pubchem:5957',
       'weight': 54.313902456001074,
       'color': '#fc8105'}},
     {'data': {'id': 'CHEBI:26523pubchem:24822',
       'source': 'CHEBI:26523',
       'target': 'pubchem:24822',
       'weight': 57.445626465380286,
       'color': '#fca605'}},
     {'data': {'id': 'CHEBI:26523uniprot:P04040',
       'source': 'CHEBI:26523',
       'target': 'uniprot:P04040',
       'weight': 72.11102550927978,
       'color': '#05fcf8'}},
     {'data': {'id': 'CHEBI:26523uniprot:P31944',
       'source': 'CHEBI:26523',
       'target': 'uniprot:P31944',
       'weight': 58.309518948453004,
       'color': '#fcc205'}},
     {'data': {'id': 'CHEBI:26523CHEBI:16796',
       'source': 'CHEBI:26523',
       'target': 'CHEBI:16796',
       'weight': 60.0,
       'color': '#05fcf8'}},
     {'data': {'id': 'CHEBI:26523pfam:PF02985',
       'source': 'CHEBI:26523',
       'target': 'pfam:PF02985',
       'weight': 57.0087712549569,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523CHEBI:27881',
       'source': 'CHEBI:26523',
       'target': 'CHEBI:27881',
       'weight': 52.44044240850758,
       'color': '#05fcf8'}},
     {'data': {'id': 'CHEBI:26523mesh:D009369',
       'source': 'CHEBI:26523',
       'target': 'mesh:D009369',
       'weight': 50.0,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523CHEBI:6801',
       'source': 'CHEBI:26523',
       'target': 'CHEBI:6801',
       'weight': 60.0,
       'color': '#05fcf8'}},
     {'data': {'id': 'CHEBI:26523CHEBI:3962',
       'source': 'CHEBI:26523',
       'target': 'CHEBI:3962',
       'weight': 59.16079783099616,
       'color': '#fcec05'}},
     {'data': {'id': 'CHEBI:26523uniprot:P51606',
       'source': 'CHEBI:26523',
       'target': 'uniprot:P51606',
       'weight': 50.49752469181038,
       'color': '#fc4b05'}},
     {'data': {'id': 'CHEBI:26523mesh:D015427',
       'source': 'CHEBI:26523',
       'target': 'mesh:D015427',
       'weight': 51.96152422706632,
       'color': '#fc4b05'}},
     {'data': {'id': 'uniprot:P38936uniprot:P04637',
       'source': 'uniprot:P38936',
       'target': 'uniprot:P04637',
       'weight': 87.4642784226795,
       'color': '#fc4b05'}},
     {'data': {'id': 'GO:0006914mesh:D013217',
       'source': 'GO:0006914',
       'target': 'mesh:D013217',
       'weight': 136.93063937629154,
       'color': '#0589fc'}},
     {'data': {'id': 'GO:0006914pubchem:5284616',
       'source': 'GO:0006914',
       'target': 'pubchem:5284616',
       'weight': 142.12670403551894,
       'color': '#fc4b05'}},
     {'data': {'id': 'GO:0006914uniprot:P42345',
       'source': 'GO:0006914',
       'target': 'uniprot:P42345',
       'weight': 149.83324063771698,
       'color': '#05fcf8'}},
     {'data': {'id': 'GO:0006914fplx:AMPK',
       'source': 'GO:0006914',
       'target': 'fplx:AMPK',
       'weight': 119.16375287812984,
       'color': '#fc4b05'}},
     {'data': {'id': 'GO:0006914CHEBI:26523',
       'source': 'GO:0006914',
       'target': 'CHEBI:26523',
       'weight': 108.397416943394,
       'color': '#fc4b05'}},
     {'data': {'id': 'GO:0006914fplx:mTORC1',
       'source': 'GO:0006914',
       'target': 'fplx:mTORC1',
       'weight': 102.46950765959598,
       'color': '#05bafc'}},
     {'data': {'id': 'GO:0006914mesh:D000860',
       'source': 'GO:0006914',
       'target': 'mesh:D000860',
       'weight': 93.00537618869137,
       'color': '#fc4b05'}},
     {'data': {'id': 'GO:0006914CHEBI:3638',
       'source': 'GO:0006914',
       'target': 'CHEBI:3638',
       'weight': 89.72179222463181,
       'color': '#0589fc'}},
     {'data': {'id': 'GO:0006914mesh:D007239',
       'source': 'GO:0006914',
       'target': 'mesh:D007239',
       'weight': 84.2614977317636,
       'color': '#fc8105'}},
     {'data': {'id': 'GO:0006914mesh:D059865',
       'source': 'GO:0006914',
       'target': 'mesh:D059865',
       'weight': 75.82875444051551,
       'color': '#fc4b05'}},
     {'data': {'id': 'GO:0006914GO:0007165',
       'source': 'GO:0006914',
       'target': 'GO:0007165',
       'weight': 78.10249675906654,
       'color': '#fc8105'}},
     {'data': {'id': 'GO:0006914uniprot:P04637',
       'source': 'GO:0006914',
       'target': 'uniprot:P04637',
       'weight': 78.74007874011811,
       'color': '#fca605'}},
     {'data': {'id': 'GO:0006914GO:0006915',
       'source': 'GO:0006914',
       'target': 'GO:0006915',
       'weight': 78.4219357067906,
       'color': '#fc8105'}},
     {'data': {'id': 'GO:0006914uniprot:Q96EB6',
       'source': 'GO:0006914',
       'target': 'uniprot:Q96EB6',
       'weight': 68.19090848492928,
       'color': '#fc4b05'}},
     {'data': {'id': 'GO:0006914uniprot:O75385',
       'source': 'GO:0006914',
       'target': 'uniprot:O75385',
       'weight': 67.82329983125268,
       'color': '#fc4b05'}},
     {'data': {'id': 'GO:0006914uniprot:P31944',
       'source': 'GO:0006914',
       'target': 'uniprot:P31944',
       'weight': 66.33249580710799,
       'color': '#fc8105'}},
     {'data': {'id': 'GO:0006914CHEBI:27899',
       'source': 'GO:0006914',
       'target': 'CHEBI:27899',
       'weight': 56.568542494923804,
       'color': '#fc4b05'}},
     {'data': {'id': 'GO:0006914uniprot:O14896',
       'source': 'GO:0006914',
       'target': 'uniprot:O14896',
       'weight': 59.58187643906492,
       'color': '#fc8105'}},
     {'data': {'id': 'GO:0006914CHEBI:27881',
       'source': 'GO:0006914',
       'target': 'CHEBI:27881',
       'weight': 64.8074069840786,
       'color': '#fc4b05'}},
     {'data': {'id': 'GO:0006914uniprot:Q14457',
       'source': 'GO:0006914',
       'target': 'uniprot:Q14457',
       'weight': 95.65563234854496,
       'color': '#fc8105'}},
     {'data': {'id': 'GO:0006914uniprot:P19484',
       'source': 'GO:0006914',
       'target': 'uniprot:P19484',
       'weight': 55.226805085936306,
       'color': '#fc4b05'}},
     {'data': {'id': 'GO:0006914uniprot:P32780',
       'source': 'GO:0006914',
       'target': 'uniprot:P32780',
       'weight': 67.0820393249937,
       'color': '#fca605'}},
     {'data': {'id': 'GO:0006914CHEBI:6801',
       'source': 'GO:0006914',
       'target': 'CHEBI:6801',
       'weight': 63.24555320336759,
       'color': '#fc4b05'}},
     {'data': {'id': 'GO:0006914fplx:MAP1LC3',
       'source': 'GO:0006914',
       'target': 'fplx:MAP1LC3',
       'weight': 53.38539126015655,
       'color': '#fc8105'}},
     {'data': {'id': 'GO:0006914CHEBI:5801',
       'source': 'GO:0006914',
       'target': 'CHEBI:5801',
       'weight': 61.64414002968976,
       'color': '#0589fc'}},
     {'data': {'id': 'GO:0006914uniprot:Q9H1Y0',
       'source': 'GO:0006914',
       'target': 'uniprot:Q9H1Y0',
       'weight': 71.76350047203661,
       'color': '#fca605'}},
     {'data': {'id': 'GO:0006914mesh:D007511',
       'source': 'GO:0006914',
       'target': 'mesh:D007511',
       'weight': 50.99019513592785,
       'color': '#fc4b05'}},
     {'data': {'id': 'GO:0006914CHEBI:17234',
       'source': 'GO:0006914',
       'target': 'CHEBI:17234',
       'weight': 54.313902456001074,
       'color': '#fc8105'}},
     {'data': {'id': 'GO:0006914fplx:PI3K',
       'source': 'GO:0006914',
       'target': 'fplx:PI3K',
       'weight': 55.226805085936306,
       'color': '#fca605'}},
     {'data': {'id': 'GO:0006914CHEBI:3962',
       'source': 'GO:0006914',
       'target': 'CHEBI:3962',
       'weight': 54.772255750516614,
       'color': '#fc8105'}},
     {'data': {'id': 'GO:0006914CHEBI:88230',
       'source': 'GO:0006914',
       'target': 'CHEBI:88230',
       'weight': 52.91502622129181,
       'color': '#05fcf8'}},
     {'data': {'id': 'GO:0006914GO:0006954',
       'source': 'GO:0006914',
       'target': 'GO:0006954',
       'weight': 50.99019513592785,
       'color': '#fc8105'}},
     {'data': {'id': 'GO:0006914fplx:AKT',
       'source': 'GO:0006914',
       'target': 'fplx:AKT',
       'weight': 72.80109889280519,
       'color': '#fcec05'}},
     {'data': {'id': 'GO:0006914uniprot:O95352',
       'source': 'GO:0006914',
       'target': 'uniprot:O95352',
       'weight': 61.64414002968976,
       'color': '#fc8105'}},
     {'data': {'id': 'GO:0006914fplx:ERK',
       'source': 'GO:0006914',
       'target': 'fplx:ERK',
       'weight': 52.44044240850758,
       'color': '#fc8105'}},
     {'data': {'id': 'GO:0006914uniprot:P10415',
       'source': 'GO:0006914',
       'target': 'uniprot:P10415',
       'weight': 50.99019513592785,
       'color': '#fcec05'}},
     {'data': {'id': 'uniprot:Q96EB6CHEBI:27881',
       'source': 'uniprot:Q96EB6',
       'target': 'CHEBI:27881',
       'weight': 101.9803902718557,
       'color': '#fc4b05'}},
     {'data': {'id': 'uniprot:Q96EB6fplx:AMPK',
       'source': 'uniprot:Q96EB6',
       'target': 'fplx:AMPK',
       'weight': 50.49752469181038,
       'color': '#fc0505'}}],
                    style: [
                        {
                            selector: 'node',
                            style: {
                                    "width": "2000px",
                                    "height": "2000px",
                                    "content": "data(label)",
                                    "font-size": "500px",
                                    "text-valign": "center",
                                    "text-halign": "center",
                                    "background-color": "data(color)",
                                    "text-outline-color": "#555",
                                    "text-outline-width": "2px",
                                    "color": "#121111",
                                    "overlay-padding": "6px",
                                    "z-index": "10",
                                'background-fit': 'contain'

                            }
                        }, {
                            selector: 'edge',
                            style: {

                               'text-background-color': 'yellow',
                                'text-background-opacity': 0.4,
                                'width': 'data(weight)',
                                'target-arrow-shape': 'triangle',
                                'control-point-step-size': '140px',
                                'curve-style': 'bezier',
                                'line-color':"data(color)",
                                'target-arrow-color': 'data(color)',
                            }
                        },
                         {
                        selector: 'node.semitransp',
                        style:{ 'opacity': '.1' }
                    },
                        {
                        selector: 'edge.semitransp',
                        style:{ 'opacity': '.1' }
                    }
                    ],
                    layout: {
                        name: 'concentric',
                        concentric: function( node ){
      return node.data("rank");
      },
                        minNodeSpacing: 100





                    }
                });

                    cy.on('mouseover', 'node', function(evt){
      var sel = evt.target;
      cy.nodes().difference(sel.outgoers()).not(sel).addClass('semitransp');
      cy.edges().difference(sel.edgesTo(sel.outgoers())).addClass("semitransp");
    });
           cy.on('mouseout', 'node', function(evt){
      var sel = evt.target;
      cy.nodes().difference(sel.outgoers()).not(sel).removeClass('semitransp');
      cy.edges().difference(sel.edgesTo(sel.outgoers())).removeClass("semitransp");
    });
          cy.on('click', 'edge', function(evt){
      var sel = evt.target;
      console.log("clicked "+sel.id());
    });
        </script>

                </form>
            </div>
            <div id="dijkstra" style="margin-top:550px;position:relative" class="container">
                <form method="POST" action="#">
                    <h3>Multi Query</h3>
                    <p>Takes a comma-separated list of IDs or entity names as input. Finds shortest paths between these entities. Essentially, the algorithm finds all possible pair combinations within the list. Then, it finds the shortest path in both directions (if it exists) between all pairs. The user can specify the maximum number of linkers that a path can contain. For example, if the algorithm is trying to find a path between entity 1 and entity 2, and the maximum number of linkers is 1, the algorithm will first try to find entity 2 from everything directly connected to entity 1. If entity 2 is not found, the algorithm will try to find entity 2 from everything directly connected to the entities directly connected to entity 1, but look no further than that.</p>
                    <h4>Takes the following inputs:</h4>
                    <ol>
      <li>A comma-separated list of IDs or entity names.</li>
      <li>The maximum number of linkers between two entities (non-negative integer).</li>
    </ol>
                    <p><input type="submit" name="query_type" value="Make a Multi Query" style="background-color:#4CAF50;color:white;height:90px;width:350px;font-size:x-large;cursor:pointer"/></p>
                    <h4>Multi Query Example - Shortest path between various types of lipids</h4>
                    <h5>Zoom in by scrolling, mouseover nodes to see immediate outgoing connections</h5>
                        <div id="cy2"></div>
        <script>
            var cy2 = cytoscape({
                    container: document.getElementById('cy2'),
                wheelSensitivity: 0.4,
                    elements:[{'data': {'id': 'CHEBI:17234', 'label': 'glucose'}},
     {'data': {'id': 'uniprot:P01308', 'label': 'insulin'}},
     {'data': {'id': 'CHEBI:26523', 'label': 'ROS'}},
     {'data': {'id': 'GO:0006915', 'label': 'apoptosis'}},
     {'data': {'id': 'uniprot:P31944', 'label': 'caspase-14'}},
     {'data': {'id': 'mesh:D009369', 'label': 'tumor'}},
     {'data': {'id': 'uniprot:P51811', 'label': 'NAC'}},
     {'data': {'id': 'pubchem:24822', 'label': 'NO'}},
     {'data': {'id': 'uniprot:O14944', 'label': 'ER'}},
     {'data': {'id': 'pubchem:5957', 'label': 'ATP'}},
     {'data': {'id': 'fplx:AKT', 'label': 'Akt'}},
     {'data': {'id': 'pubchem:271', 'label': 'Ca'}},
     {'data': {'id': 'uniprot:Q13326', 'label': 'type'}},
     {'data': {'id': 'pubchem:23925', 'label': 'iron'}},
     {'data': {'id': 'uniprot:P40763', 'label': 'STAT3'}},
     {'data': {'id': 'pfam:PF00531', 'label': 'death'}},
     {'data': {'id': 'GO:0008152', 'label': 'metabolism'}},
     {'data': {'id': 'CHEBI:50114', 'label': 'estrogen'}},
     {'data': {'id': 'pubchem:5870', 'label': 'E1'}},
     {'data': {'id': 'pubchem:104727', 'label': 'al'}},
     {'data': {'id': 'CHEBI:16670', 'label': 'peptide'}},
     {'data': {'id': 'uniprot:P04040', 'label': 'catalase'}},
     {'data': {'id': 'fplx:Protease', 'label': 'proteases'}},
     {'data': {'id': 'GO:0009058', 'label': 'synthesis'}},
     {'data': {'id': 'CHEBI:16134', 'label': 'ammonia'}},
     {'data': {'id': 'pubchem:27099', 'label': 'Cu'}},
     {'data': {'id': 'uniprot:P35968', 'label': 'VEGFR2'}},
     {'data': {'id': 'uniprot:P54829', 'label': 'step'}},
     {'data': {'id': 'uniprot:P00439', 'label': 'pH'}},
     {'data': {'id': 'uniprot:Q8TCT9', 'label': 'spp'}},
     {'data': {'id': 'mesh:D010146', 'label': 'pain'}},
     {'data': {'id': 'pubchem:104810', 'label': 'BA'}},
     {'data': {'id': 'CHEBI:16393', 'label': 'sphingosine'}},
     {'data': {'id': 'CHEBI:132754', 'label': 'dynasore'}},
     {'data': {'id': 'CHEBI:17992', 'label': 'sucrose'}},
     {'data': {'id': 'CHEBI:50803', 'label': 'nanoparticle'}},
     {'data': {'id': 'uniprot:P22303', 'label': 'AChE'}},
     {'data': {'id': 'CHEBI:2376', 'label': 'acarbose'}},
     {'data': {'id': 'CHEBI:5138', 'label': 'fluvoxamine'}},
     {'data': {'id': 'pubchem:6113', 'label': 'EMS'}},
     {'data': {'id': 'pubchem:6804', 'label': 'guanosine monophosphate'}},
     {'data': {'id': 'CHEBI:37550', 'label': 'Sphingosine-1-phosphate'}},
     {'data': {'id': 'CHEBI:4388', 'label': 'deltamethrin'}},
     {'data': {'id': 'CHEBI:33416', 'label': 'fullerene'}},
     {'data': {'id': 'CHEBI:16566', 'label': 'sphinganine'}},
     {'data': {'id': 'uniprot:Q03181', 'label': 'PPARdelta'}},
     {'data': {'id': 'CHEBI:63038', 'label': 'ammonium nitrate'}},
     {'data': {'id': 'CHEBI:62946', 'label': 'ammonium sulfate'}},
     {'data': {'id': 'CHEBI:9055', 'label': 'Scoparone'}},
     {'data': {'id': 'CHEBI:81931', 'label': 'metaldehyde'}},
     {'data': {'id': 'CHEBI:16893', 'label': 'sphinganine 1-phosphate'}},
     {'data': {'id': 'CHEBI:50114uniprot:O14944',
       'source': 'CHEBI:50114',
       'target': 'uniprot:O14944',
       'weight': 310.2418411497714,
       'color': '#2b79ff'}},
     {'data': {'id': 'CHEBI:26523uniprot:O14944',
       'source': 'CHEBI:26523',
       'target': 'uniprot:O14944',
       'weight': 220.7940216581962,
       'color': '#2b79ff'}},
     {'data': {'id': 'CHEBI:2376CHEBI:17234',
       'source': 'CHEBI:2376',
       'target': 'CHEBI:17234',
       'weight': 147.9019945774904,
       'color': '#ff7a7a'}},
     {'data': {'id': 'uniprot:P31944CHEBI:17992',
       'source': 'uniprot:P31944',
       'target': 'CHEBI:17992',
       'weight': 134.6291201783626,
           'color': '#99beff'}},
         {'data': {'id': 'uniprot:P31944uniprot:P22303',
           'source': 'uniprot:P31944',
           'target': 'uniprot:P22303',
           'weight': 111.80339887498948,
           'color': '#ff7a7a'}},
         {'data': {'id': 'uniprot:P00439pubchem:27099',
           'source': 'uniprot:P00439',
           'target': 'pubchem:27099',
           'weight': 86.60254037844385,
           'color': '#dbe8ff'}},
         {'data': {'id': 'CHEBI:16393pfam:PF00531',
           'source': 'CHEBI:16393',
           'target': 'pfam:PF00531',
           'weight': 66.14378277661476,
           'color': '#005eff'}},
         {'data': {'id': 'pubchem:271pubchem:27099',
           'source': 'pubchem:271',
           'target': 'pubchem:27099',
           'weight': 79.05694150420949,
           'color': '#99beff'}},
         {'data': {'id': 'uniprot:Q8TCT9CHEBI:17992',
           'source': 'uniprot:Q8TCT9',
           'target': 'CHEBI:17992',
           'weight': 55.90169943749474,
           'color': '#005eff'}},
         {'data': {'id': 'GO:0006915pubchem:27099',
           'source': 'GO:0006915',
           'target': 'pubchem:27099',
           'weight': 43.301270189221924,
           'color': '#005eff'}},
         {'data': {'id': 'pubchem:5957pubchem:5870',
           'source': 'pubchem:5957',
           'target': 'pubchem:5870',
           'weight': 50.0,
           'color': '#669eff'}},
         {'data': {'id': 'uniprot:P00439pubchem:5870',
           'source': 'uniprot:P00439',
           'target': 'pubchem:5870',
           'weight': 50.0,
           'color': '#669eff'}},
         {'data': {'id': 'CHEBI:33416CHEBI:26523',
           'source': 'CHEBI:33416',
           'target': 'CHEBI:26523',
           'weight': 50.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:16670uniprot:P22303',
           'source': 'CHEBI:16670',
           'target': 'uniprot:P22303',
           'weight': 50.0,
           'color': '#ff7a7a'}},
         {'data': {'id': 'uniprot:Q13326uniprot:P22303',
           'source': 'uniprot:Q13326',
           'target': 'uniprot:P22303',
           'weight': 55.90169943749474,
           'color': '#ffb0b0'}},
         {'data': {'id': 'CHEBI:17992CHEBI:132754',
           'source': 'CHEBI:17992',
           'target': 'CHEBI:132754',
           'weight': 35.35533905932738,
           'color': '#ff0000'}},
         {'data': {'id': 'fplx:Proteasepubchem:5870',
           'source': 'fplx:Protease',
           'target': 'pubchem:5870',
           'weight': 35.35533905932738,
           'color': '#005eff'}},
         {'data': {'id': 'mesh:D009369pubchem:5870',
           'source': 'mesh:D009369',
           'target': 'pubchem:5870',
           'weight': 35.35533905932738,
           'color': '#005eff'}},
         {'data': {'id': 'uniprot:Q13326pubchem:5870',
           'source': 'uniprot:Q13326',
           'target': 'pubchem:5870',
           'weight': 43.301270189221924,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:16393uniprot:Q13326',
           'source': 'CHEBI:16393',
           'target': 'uniprot:Q13326',
           'weight': 43.301270189221924,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:132754uniprot:P35968',
           'source': 'CHEBI:132754',
           'target': 'uniprot:P35968',
           'weight': 50.0,
           'color': '#ff7a7a'}},
         {'data': {'id': 'CHEBI:17234CHEBI:2376',
           'source': 'CHEBI:17234',
           'target': 'CHEBI:2376',
           'weight': 50.0,
           'color': '#dbe8ff'}},
         {'data': {'id': 'uniprot:P04040CHEBI:16134',
           'source': 'uniprot:P04040',
           'target': 'CHEBI:16134',
           'weight': 35.35533905932738,
           'color': '#ff0000'}},
         {'data': {'id': 'pubchem:6113CHEBI:4388',
           'source': 'pubchem:6113',
           'target': 'CHEBI:4388',
           'weight': 35.35533905932738,
           'color': '#005eff'}},
         {'data': {'id': 'uniprot:O14944CHEBI:5138',
           'source': 'uniprot:O14944',
           'target': 'CHEBI:5138',
           'weight': 35.35533905932738,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:2376GO:0008152',
           'source': 'CHEBI:2376',
           'target': 'GO:0008152',
           'weight': 50.0,
           'color': '#dbe8ff'}},
         {'data': {'id': 'CHEBI:2376uniprot:P31944',
           'source': 'CHEBI:2376',
           'target': 'uniprot:P31944',
           'weight': 55.90169943749474,
           'color': '#2b79ff'}},
         {'data': {'id': 'CHEBI:37550uniprot:P31944',
           'source': 'CHEBI:37550',
           'target': 'uniprot:P31944',
           'weight': 35.35533905932738,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:16393uniprot:P31944',
           'source': 'CHEBI:16393',
           'target': 'uniprot:P31944',
           'weight': 35.35533905932738,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:2376CHEBI:17992',
           'source': 'CHEBI:2376',
           'target': 'CHEBI:17992',
           'weight': 43.301270189221924,
           'color': '#99beff'}},
         {'data': {'id': 'CHEBI:33416uniprot:Q13326',
           'source': 'CHEBI:33416',
           'target': 'uniprot:Q13326',
           'weight': 35.35533905932738,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:16393fplx:AKT',
           'source': 'CHEBI:16393',
           'target': 'fplx:AKT',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'CHEBI:4388pubchem:5957',
           'source': 'CHEBI:4388',
           'target': 'pubchem:5957',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'CHEBI:2376pubchem:104810',
           'source': 'CHEBI:2376',
           'target': 'pubchem:104810',
           'weight': 35.35533905932738,
           'color': '#dbe8ff'}},
         {'data': {'id': 'CHEBI:81931uniprot:P04040',
           'source': 'CHEBI:81931',
           'target': 'uniprot:P04040',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:16566pubchem:271',
           'source': 'CHEBI:16566',
           'target': 'pubchem:271',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'mesh:D010146pubchem:6113',
           'source': 'mesh:D010146',
           'target': 'pubchem:6113',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'CHEBI:5138pubchem:6113',
           'source': 'CHEBI:5138',
           'target': 'pubchem:6113',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'pubchem:6804uniprot:O14944',
           'source': 'pubchem:6804',
           'target': 'uniprot:O14944',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:37550CHEBI:50114',
           'source': 'CHEBI:37550',
           'target': 'CHEBI:50114',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:9055pubchem:6804',
           'source': 'CHEBI:9055',
           'target': 'pubchem:6804',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:33416pubchem:24822',
           'source': 'CHEBI:33416',
           'target': 'pubchem:24822',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'CHEBI:37550pubchem:24822',
           'source': 'CHEBI:37550',
           'target': 'pubchem:24822',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'pubchem:6804uniprot:P51811',
           'source': 'pubchem:6804',
           'target': 'uniprot:P51811',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'CHEBI:16566fplx:AKT',
           'source': 'CHEBI:16566',
           'target': 'fplx:AKT',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'uniprot:P40763uniprot:Q03181',
           'source': 'uniprot:P40763',
           'target': 'uniprot:Q03181',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'uniprot:P01308uniprot:Q03181',
           'source': 'uniprot:P01308',
           'target': 'uniprot:Q03181',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:16566uniprot:Q8TCT9',
           'source': 'CHEBI:16566',
           'target': 'uniprot:Q8TCT9',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:37550uniprot:P40763',
           'source': 'CHEBI:37550',
           'target': 'uniprot:P40763',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:16566uniprot:Q13326',
           'source': 'CHEBI:16566',
           'target': 'uniprot:Q13326',
           'weight': 35.35533905932738,
           'color': '#dbe8ff'}},
         {'data': {'id': 'fplx:AKTCHEBI:2376',
           'source': 'fplx:AKT',
           'target': 'CHEBI:2376',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:33416pubchem:104727',
           'source': 'CHEBI:33416',
           'target': 'pubchem:104727',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'CHEBI:4388pubchem:104727',
           'source': 'CHEBI:4388',
           'target': 'pubchem:104727',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:62946CHEBI:63038',
           'source': 'CHEBI:62946',
           'target': 'CHEBI:63038',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'pubchem:27099CHEBI:63038',
           'source': 'pubchem:27099',
           'target': 'CHEBI:63038',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'pubchem:104727CHEBI:63038',
           'source': 'pubchem:104727',
           'target': 'CHEBI:63038',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:16134CHEBI:63038',
           'source': 'CHEBI:16134',
           'target': 'CHEBI:63038',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'pubchem:23925CHEBI:62946',
           'source': 'pubchem:23925',
           'target': 'CHEBI:62946',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'CHEBI:17234CHEBI:62946',
           'source': 'CHEBI:17234',
           'target': 'CHEBI:62946',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'uniprot:P54829CHEBI:62946',
           'source': 'uniprot:P54829',
           'target': 'CHEBI:62946',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'CHEBI:5138GO:0006915',
           'source': 'CHEBI:5138',
           'target': 'GO:0006915',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:37550pfam:PF00531',
           'source': 'CHEBI:37550',
           'target': 'pfam:PF00531',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'uniprot:Q13326CHEBI:4388',
           'source': 'uniprot:Q13326',
           'target': 'CHEBI:4388',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'uniprot:P35968CHEBI:4388',
           'source': 'uniprot:P35968',
           'target': 'CHEBI:4388',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'uniprot:P51811CHEBI:4388',
           'source': 'uniprot:P51811',
           'target': 'CHEBI:4388',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'pubchem:24822CHEBI:132754',
           'source': 'pubchem:24822',
           'target': 'CHEBI:132754',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:132754CHEBI:50114',
           'source': 'CHEBI:132754',
           'target': 'CHEBI:50114',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'GO:0008152CHEBI:5138',
           'source': 'GO:0008152',
           'target': 'CHEBI:5138',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'pubchem:104810CHEBI:33416',
           'source': 'pubchem:104810',
           'target': 'CHEBI:33416',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'pfam:PF00531CHEBI:33416',
           'source': 'pfam:PF00531',
           'target': 'CHEBI:33416',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'GO:0009058CHEBI:33416',
           'source': 'GO:0009058',
           'target': 'CHEBI:33416',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:37550CHEBI:17234',
           'source': 'CHEBI:37550',
           'target': 'CHEBI:17234',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:16393uniprot:P01308',
           'source': 'CHEBI:16393',
           'target': 'uniprot:P01308',
           'weight': 43.301270189221924,
           'color': '#ffb0b0'}},
         {'data': {'id': 'CHEBI:16566uniprot:P01308',
           'source': 'CHEBI:16566',
           'target': 'uniprot:P01308',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'CHEBI:132754pubchem:23925',
           'source': 'CHEBI:132754',
           'target': 'pubchem:23925',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:16566GO:0008152',
           'source': 'CHEBI:16566',
           'target': 'GO:0008152',
           'weight': 35.35533905932738,
           'color': '#ff0000'}},
         {'data': {'id': 'CHEBI:16393GO:0008152',
           'source': 'CHEBI:16393',
           'target': 'GO:0008152',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'pubchem:5870CHEBI:81931',
           'source': 'pubchem:5870',
           'target': 'CHEBI:81931',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'CHEBI:50803CHEBI:81931',
           'source': 'CHEBI:50803',
           'target': 'CHEBI:81931',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'CHEBI:132754CHEBI:50803',
           'source': 'CHEBI:132754',
           'target': 'CHEBI:50803',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'CHEBI:2376uniprot:P00439',
           'source': 'CHEBI:2376',
           'target': 'uniprot:P00439',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:9055uniprot:P00439',
           'source': 'CHEBI:9055',
           'target': 'uniprot:P00439',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:37550mesh:D010146',
           'source': 'CHEBI:37550',
           'target': 'mesh:D010146',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:132754CHEBI:16670',
           'source': 'CHEBI:132754',
           'target': 'CHEBI:16670',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'CHEBI:37550fplx:Protease',
           'source': 'CHEBI:37550',
           'target': 'fplx:Protease',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:16393fplx:Protease',
           'source': 'CHEBI:16393',
           'target': 'fplx:Protease',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'uniprot:P22303CHEBI:9055',
           'source': 'uniprot:P22303',
           'target': 'CHEBI:9055',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'uniprot:Q03181CHEBI:16893',
           'source': 'uniprot:Q03181',
           'target': 'CHEBI:16893',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:16393CHEBI:16566',
           'source': 'CHEBI:16393',
           'target': 'CHEBI:16566',
           'weight': 35.35533905932738,
           'color': '#dbe8ff'}},
         {'data': {'id': 'CHEBI:37550CHEBI:16393',
           'source': 'CHEBI:37550',
           'target': 'CHEBI:16393',
           'weight': 50.0,
           'color': '#669eff'}},
         {'data': {'id': 'CHEBI:16393uniprot:P54829',
           'source': 'CHEBI:16393',
           'target': 'uniprot:P54829',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:16566GO:0009058',
           'source': 'CHEBI:16566',
           'target': 'GO:0009058',
           'weight': 25.0,
           'color': '#005eff'}},
         {'data': {'id': 'CHEBI:5138mesh:D009369',
           'source': 'CHEBI:5138',
           'target': 'mesh:D009369',
           'weight': 25.0,
           'color': '#ff0000'}},
         {'data': {'id': 'CHEBI:33416mesh:D009369',
           'source': 'CHEBI:33416',
           'target': 'mesh:D009369',
           'weight': 35.35533905932738,
           'color': '#dbe8ff'}},
         {'data': {'id': 'CHEBI:2376uniprot:Q13326',
           'source': 'CHEBI:2376',
           'target': 'uniprot:Q13326',
           'weight': 25.0,
           'color': '#ff0000'}}],
                        style: [
                            {
                                selector: 'node',
                                style: {
                                    'label': 'data(label)',
                                   "text-valign" : "center",
                                   "text-halign" : "center",
                                    'width': '2000px',
                                    'height': '2000px',
                                    "font-size": "240px",
                                    "background-color": "#a0fad3",
                                    "text-outline-color": "#555",
                                    "text-outline-width": "2px",
                                    "color": "#121111",
                                    'background-fit': 'contain',
                                    'background-clip': 'none'
                                }
                            }, {
                                selector: 'edge',
                                style: {

                                   'text-background-color': 'yellow',
                                    'text-background-opacity': 0.4,
                                    'width': 'data(weight)',
                                    'target-arrow-shape': 'triangle',
                                    'control-point-step-size': '140px',
                                    'curve-style': 'bezier',
                                    'line-color':"data(color)",
                                    'target-arrow-color': 'data(color)',
                                    'arrow-scale':3
                                }
                            },
                            {
                            selector: 'node.semitransp',
                            style:{ 'opacity': '.1' }
                        },
                            {
                            selector: 'edge.semitransp',
                            style:{ 'opacity': '.1' }
                        }
                        ],
                        layout: {
                            name: 'breadthfirst'

                        }
                    });
                cy2.on('mouseover', 'node', function(evt){
          var sel = evt.target;
          cy2.nodes().difference(sel.outgoers()).not(sel).addClass('semitransp');
          cy2.edges().difference(sel.edgesTo(sel.outgoers())).addClass("semitransp");
        });
               cy2.on('mouseout', 'node', function(evt){
          var sel = evt.target;
          cy2.nodes().difference(sel.outgoers()).not(sel).removeClass('semitransp');
          cy2.edges().difference(sel.edgesTo(sel.outgoers())).removeClass("semitransp");
        });
              cy2.on('click', 'edge', function(evt){
          var sel = evt.target;
          console.log("clicked "+sel.id());
        });
            </script>
                    </form>
                </div>
     </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
  </body>
</html>